/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-abr-2019, 14:27:58
    Author     : cetecom
*/

a.submenu{
    padding: 0 0 0 40px;
    display: none;
}

#contenedor{
    width:100%;
}
#titulo{
    width:100%;
    height: 150px;
    float: left;
	background: red;
}
#menu{
    width: 20%;
    height: 600px;
    float: left;
	background: green;
}
#contenido{
   width: 80%;
   height: 600px; 
   float: left;
   background: yellow;
}
#pie{
   width: 100%;
   height: 50px; 
   float: left;
   background: powderblue;
}